server_port: 9006
data_prefix: nacha_monitor

systemconfig.smtpSmarthost: ""
systemconfig.smtpFrom: ""
systemconfig.smtpAuthUsername: ""
systemconfig.smtpAuthPassword: ""
systemconfig.httpTimeOut: 2000
systemconfig.alertExistNames: NoAlert
systemconfig.prometheusAlertGroupName: BOCCustomizeAlert
