## POC 版本 定义
### 所有组件均是单点安装
### HA 版本 定义
### 所有组件均是多副本或集群安装
## 配置说明
##  *_INSTALL表示组件是否安装，*_HOST_IP来决定更新environment（比如同步时间、安装docker, 更新yum源等） 
##  *_INSTALL置False *_HOST_IP置空，表示 environment不更新配置，组件不安装配置
##  *_INSTALL置False *_HOST_IP配置，表示更新environment，但是组件不进行安装配置
##  *_INSTALL置True  *_HOST_IP置空， 安装失败，非法配置
##  *_INSTALL置True  *_HOST_IP配置， 正常安装组件和更新environment
##
##1. 选装的，[REGISTRY] [PIPLELINE] [LB] 这三块 可以删除 或者置IP为空
##2. 必装的，不可以删除对应的section块，但是可以置HOST_IP为空，表示不执行此主机的environment（比如同步时间、安装docker等）
#########################################
## 由于组件HA太多，并且是rpm安装，限制机器安装组合
#1. haproxy-keepalived   一组单独机器
#2. paas-应用组件   一组单独机器
#3. NFS 存储  一组单独机器
#4. CI 主机一组单独机器               --可选装
#5. 基础组件 redis  mq mariadb consul  一组单独机器
#6. 提供给客户的镜像仓库 一组单独机器 --可选装
##################################################

#########################################
# Global Configuration
########################################
[DEFAULT]
#Current BOC2.0 Support CentOS 7.5 Official
SUGGEST_OS_VERION=7.5.1804

## NTP Server
### 必须设置
### 由于paas licence组件对日期时间有要求,
### 即确定生成证书的日期时间与当前boc运行日期时间
### 保持一致。
### 因此实施人员需要自行确定时间日期的准确性
### 如果有标准的授时服务器（注意是正确的时间,否则可能导致证书不可用），
### EXTERNAL_NTP_SERVER配置为此授时服务器地址
### 工具会自动对各个服务器同步日期时间
### 亦或自行安装操作系统时设置时间(确保时间是正确的)
### 即若没有授时服务器时，设置EXTERNAL_NTP_SERVER
### 为127.0.0.1
EXTERNAL_NTP_SERVER=127.0.0.1

#
# All Nodes Must Use The Same Auth(User/Password)
# !!!!Befor You Trigger Tool , Ensure The User Status (In particular, non root users)!!!
#
BASE_USER=root
BASE_PASSWD=cobbler

###################################################
## 必须安装
## 说明：POC版本目标是组件单点安装，大部分使用容器
## HA版本目标组件多副本集群安装，大部分基础组件使用
##  rpm安装
## 安装要素：1. 把False变为True 视为要安装，反之，不操作
## 2. 配置上目标机器的IP，如果集群或多副本安装，则写至少3个
## IP，并以逗号分隔
## 注: 
## 1. 多个IP以逗号分隔, 配置错误，责任自负
## 2. 下面的Haproxy-keepalived代理DB和Paas-Web 2个组件，
##    因此安装的时候 DB_HOST_IP 与 HA_LB_HOST_IP 不能相同
####################################################
[DB]
#--------------------
#WE ARE SUPPORTING THE FOLLOWING TWO SITUATION:
#0.DB no-exist : True (For First Time)
#1.DB exist : False
DB_RE_INSTALL=False
#---------------------
## DB_HOST_IP 设置为单个IP，则为docker容器化安装mariadb
# 如果写3个以上，则是rpm包安装mariadb-galer集群 
# 写2个IP，状态未知，责任自负！！
DB_HOST_IP=192.168.2.203,192.168.2.206,192.168.2.207
DB_PORT=3316
## 注意：DB_USER不支持修改,此处只用来提示Portal使用bocloud用户名
## 如果需要修改请参考文档(sql文件内部硬编码了用户名)
DB_USER=bocloud
## 注意：DB_PASS配置的是bocloud和root用户
DB_PASS=a@!#123

#IF YOU USE DEFAULT DB, PLEASE DO NOT MODIFY HERE
#####################################################
###  Portal design need NFS to share licence images .etc
# 必须安装
# 存储临时方案，使用NFS
# NFS_HOST_IP 只能写一个IP，HA方案不支持
[NFS]
NFS_RE_INSTALL=False
NFS_HOST_IP=192.168.2.155

########
## BOC HA 必须安装， 
## POC 不需要安装
## LoadBalance 当前主要负载Mariadb-galar集群和paa-web多副本
## 如果BOC安装目标不是HA版本，不要把HA_LB_RE_INSTALL置为True！！
## HA_LB_HOST_IP写入至少2个IP用来做haproxy HA
## HA_LB_VIP只能写入一个IP，作为keepalived的vip
## 注: 
### 1. 多个IP以逗号分隔, 配置错误，责任自负
### 2. Haproxy-keepalived代理DB和Paas-Web 2个组件，
###    因此安装的时候 DB_HOST_IP 与 HA_LB_HOST_IP 不能相同
#######
[LB]
HA_LB_RE_INSTALL=False
HA_LB_HOST_IP=192.168.2.154,192.168.2.155
HA_LB_VIP=192.168.2.151

#########################
## Rabbitmq安装
## 必须安装
## MQ_HOST_IP如果写入一个IP，安装容器版MQ，且为单点
## 如果写入至少3个IP，则组成rabbitmq cluster，为rpm安装方式
## 写入2个IP，状态未知，责任自负！！
## 注: 多个IP以逗号分隔, 配置错误，责任自负
######################3
[MQ]
MQ_RE_INSTALL=False
MQ_PORT=5672
MQ_HOST_IP=192.168.2.203,192.168.2.206,192.168.2.207
MQ_USER=bocloud
MQ_PASS=a@!#123

##################
## 必须安装
## PAAS应用不支持单点部署，因此
## REDIS_HOST_IP至少写入2个IP
## 注: 多个IP以逗号分隔, 配置错误，责任自负
#################
[REDIS]
REDIS_RE_INSTALL=False
#ALERT:  two node at least
REDIS_HOST_IP=192.168.2.206,192.168.2.207

#############################3
## 必须安装
## XXLJOB: PAAS应用组件
## 不支持多副本运行
## XXLJOB_HOST_IP 只能写入单个IP
############################
[XXLJOB]
XXLJOB_RE_INSTALL=False
XXLJOB_HOST_IP=192.168.2.200

#############################3
### 必须安装
### CONSUL_HOST_IP 写入一个IP为单点安装
### 写入至少3个IP 组成集群模式
### 写入2个IP 状态未知，责任自负！！！
### CONSUL_CLIENT_PAAS_IP：写入paas组件IP
### HA方案中，consul 选用的是consul client运行模式
### 提供给paas组件到consul集群的连接，因此，
### 在HA安装下，必须配置CONSUL_CLIENT_PAAS_IP
### 注意：如果paas组件跟consul集群server在同一机器中
### 则不能将IP写入CONSUL_CLIENT_PAAS_IP，也即
### CONSUL_HOST_IP 和 CONSUL_CLIENT_PAAS_IP 不能有重复IP !!!!
### 注: 多个IP以逗号分隔, 配置错误，责任自负
#############################
[CONSUL]
CONSUL_RE_INSTALL=False
CONSUL_HOST_IP=192.168.2.203,192.168.2.206,192.168.2.207
CONSUL_CLIENT_PAAS_IP=192.168.2.200,192.168.2.201
CONSUL_PORT=8500
CONSUL_TOKEN=787bd467-a93e-8558-1aaf-f7c4036c406b

######################
### 选装
### 提供给客户的样例容器仓库，安装的是docker-distribution 容器版本
### HA方式保持1.9方式，使用01_IP 02_IP方式
### 为避免引起问题，建议仓库也是单独一到两台机器安装，请勿与
### 其他组件混合安装 
#####################3
[REGISTRY]
#--------------------
##WE ARE SUPPORTING THE FOLLOWING TWO SITUATION:
##0.REGISTRY no-exist : True (For First Time)
##1.REGISTRY exist : False
#
REGISTRY_RE_INSTALL=False
REGISTRY_IMAGE=deploy.uboc/distribution:2.4
# !!! IMPORTANT !!!
# IF YOU ENABLE HA : Need enable 01 02 node, registry will use vip as default ip
# IF YOU DISABLE HA : Tool will not use HA, and registry will use 01 ip as default ip
REGISTRY_HA_ENABLED=False

#REGISTRY_CLUSTER_VIP=192.168.1.82
#---
REGISTRY_HOST_01_IP=192.168.2.154
     
#Support Using Your Own Domain Name
REGISTRY_DOMAIN_NAME=abcsys.cn

#Suggest Not Modify
REGISTRY_PORT=5000 

#################################################
### 选装
### 此处安装的是CI主机，即如果要使用BOC的CI功能，
### 需要安装。如果客户有自己的CI主机，则不需要安装
### CI主机请单独一台机器，请勿与其他安装混合安装，
### 以免引起rpm包依赖冲突
### 不支持多副本运行
### PIPELINE_HOST_IP 只能单个IP配置！！！
##############################################
[PIPLELINE]
#--------------------
##WE ARE SUPPORTING THE FOLLOWING TWO SITUATION:
##0.PIPELINE no-exist : True (For First Time)
##1.PIPELINE exist : False

PIPLELINE_RE_INSTALL=False
PIPELINE_HOST_IP=192.168.2.154

############################################
### 必须安装
### PAAS应用组件
### paas-web 反向代理到paas-gateway组件
### GATEWAY_HOST_IP 写多个IP则多副本运行非集群
### 注: 多个IP以逗号分隔, 配置错误，责任自负
###########################################
[GATEWAY]
GATEWAY_RE_INSTALL=False
GATEWAY_HOST_IP=192.168.2.200,192.168.2.201

############################################
##### 选择安装
##### PAAS应用组件
##### 如果需要物理部署客户应用，需要安装worker
##### worker是以ansible作为核心运行，对客户提供的
##### ansible playbook进行代理执行。
##### WORKER_HOST_IP 写多个IP则多副本运行非集群
##### 注: 多个IP以逗号分隔, 配置错误，责任自负
#############################################
[WORKER]
WORKER_RE_INSTALL=False
WORKER_HOST_IP=192.168.2.217

#############################################
##### 选择安装
##### PAAS应用组件
##### 如果需要物理部署客户应用，需要安装worker
##### artifactory是以ansible作为核心运行，对客户提供的
##### ansible playbook进行代理执行。
##### ARTIFACTORY_HOST_IP 写多个IP则多副本运行非集群
##### 注: 多个IP以逗号分隔, 配置错误，责任自负
#############################################
[ARTIFACTORY]
ARTIFACTORY_RE_INSTALL=False
ARTIFACTORY_HOST_IP=192.168.2.217

###########################################
## 必须安装
## BOC PAAS应用组件
## PORTAL_ACTION 置为Install，则为安装PAAS应用组件
## 为None 则安装程序不执行这一步骤
## paas_*_IP可以配置多个IP，构成多副本运行。
## 注: 多个IP以逗号分隔, 配置错误，责任自负
## PORTAL_TAGS 标记的是 paas组件的镜像tag号，
## 当前是2.0 不需要实施人员修改，如需修改
## 会有研发联系！！
############ 警告注意 #####################
### paas_business 不支持多副本运行
### paas_business_IP 只能单个IP配置！！！
###########################################
[PORTAL]
#We Support : Install | None
PORTAL_ACTION=None

#Log Location
PORTAL_LOG_PATH=/var/log/boc

#WorkSpace
PORTAL_WORKSPACE=/opt/deploy


paas_web_IP=192.168.2.200,192.168.2.201
paas_generalpurpose_IP=192.168.2.200,192.168.2.201
paas_basic_upms_IP=192.168.2.200,192.168.2.201
paas_basic_license_IP=192.168.2.200,192.168.2.201
paas_basic_pipeline_IP=192.168.2.200,192.168.2.201
paas_basic_report_IP=192.168.2.200,192.168.2.201
paas_application_IP=192.168.2.200,192.168.2.201
paas_deployer_IP=192.168.2.200,192.168.2.201
paas_runtime_IP=192.168.2.200,192.168.2.201
paas_monitor_IP=192.168.2.200,192.168.2.201
paas_appstore_IP=192.168.2.200,192.168.2.201

paas_business_IP=192.168.2.201
#Specify The Current Release Version Tag
PORTAL_TAGS=v2.1
###################################################

######################33
## 选装
## 此处LDAP配置内容将会配置到Consul的key-value中
## 如有对配置内容有疑问，请联系对应的paas应用组件研发人员
#### LDAP (optional)#################
[LDAP]
ldap.url=ldap://192.168.1.162:389/
ldap.authentication=simple
ldap.base_dn=DC=bocloud,DC=com
ldap.user_dn=demo-user01
ldap.credentials=Beyond#11
ldap.region=bocloud0
ldap.enable=true
#####################################

