{
    "acl": {
        "default_policy": "deny", 
        "down_policy": "extend-cache", 
        "enabled": true, 
        "token_ttl": "30s", 
        "tokens": {
            "agent": "987bd467-a93e-8558-1aaf-f7c4985c406b", 
            "master": "987bd467-a93e-8558-1aaf-f7c4985c406b", 
            "replication": "eaf8e8f1-3fe2-5340-8892-1f8825c3a23b"
        }
    }, 
    "addresses": {
        "dns": "{{ ansible_default_ipv4.address }}", 
        "grpc": "{{ ansible_default_ipv4.address }}", 
        "http": "{{ ansible_default_ipv4.address }}", 
        "https": "{{ ansible_default_ipv4.address }}"
    }, 
    "advertise_addr": "{{ ansible_default_ipv4.address }}", 
    "advertise_addr_wan": "{{ ansible_default_ipv4.address }}", 
    "bind_addr": "{{ ansible_default_ipv4.address }}", 
    "bootstrap": false, 
    "bootstrap_expect": 1, 
    "client_addr": "{{ ansible_default_ipv4.address }}", 
    "data_dir": "/var/consul", 
    "datacenter": "BoCloudDataCentor", 
    "disable_update_check": false, 
    "domain": "consul", 
    "enable_local_script_checks": false, 
    "enable_script_checks": false, 
    "enable_syslog": true, 
    "log_level": "INFO", 
    "performance": {
        "leave_drain_time": "5s", 
        "raft_multiplier": 1, 
        "rpc_hold_timeout": "7s"
    }, 
    "ports": {
        "dns": 8600, 
        "grpc": -1, 
        "http": 8500, 
        "https": -1, 
        "serf_lan": 8301, 
        "serf_wan": 8302, 
        "server": 8300
    }, 
    "primary_datacenter": "BoCloudDataCentor", 
    "raft_protocol": 3, 
    "retry_interval": "30s", 
    "retry_interval_wan": "30s", 
    "retry_join": [
        "{{ ansible_default_ipv4.address }}"
    ], 
    "retry_max": 0, 
    "retry_max_wan": 0, 
    "server": true, 
    "syslog_facility": "local0", 
    "ui": true
}
