GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' IDENTIFIED BY '{{maridb_password}}' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON *.* TO 'bocloud'@'%' IDENTIFIED BY '{{maridb_password}}' WITH GRANT OPTION;
FLUSH PRIVILEGES;
